*
{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;  
}

.navbar-left
{
    width: 100px;
    display: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 13px;
}

.navbar-wrapper
{
    width: 200px;
    display: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 13px;
}

.navbar-left > a, .navbar-wrapper > a
{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.87);
}

.navbar-left > a:hover, .navbar-wrapper > a:hover
{
    text-decoration: underline;
}

.app, .account
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
}

.account > img
{
    width: 32px;
    height: 32px;
    object-fit: cover;
    border-radius: 50%;
}

.app:hover, .account:hover 
{
    background-color: #f2f2f2; 
}

.app > i
{
    font-size: 17px;
    color: #5f6268;
}

main 
{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 55px 30px;
}

.search 
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 280px;
    width: 45%;
    height: 45px;
    border: 1px solid #e7e8eb;
    border-radius: 30px;
    padding: 5px 15px;
    margin: 25px; 
}

.search:hover
{
    box-shadow: 0 1px 6px rgb(32 33 36/28%);
}

.search span
{
    width: 15px;
    height: 15px;
    color: #a5aab0; 
}

.search input
{
    width: 90%;
    height: 100%;
    background-color: transparent;
    border: none;
    font-size: 15px;
}

.search img
{
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.logo {
    width: 450px; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
    margin-bottom: -100px;
}

.search input, .search img {
    margin: 5px 0; /* Adjust margin as needed */
}

.search-button button
{
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-size: 14px;
    text-align: center;
    padding: 10px 16px;
    margin: 0 4px;
    cursor: pointer;
}

.search-button button:hover
{
    border: 1px solid #e7e8eb;
    box-shadow: 0 3px 3px 3px -3px#a5aab0;
}

footer 
{
    width: 100%;
    position: absolute;
    bottom: 0;
    background-color: #f2f2f2;
    font-size: 14px;
    color: #6f6f6f;
}

.footer-menu
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    padding: 15px 30px;  
}

.climate
{
   align-self: flex-start;  
}

.left-menu a, .right-menu a
{
    text-decoration: none;
    color: #6f6f6f;
    padding: 0 20px 0 0;
}

.left-menu a:hover, .right-menu:hover
{
    text-decoration: underline;

}